/**, *:before, *:after {
	box-sizing:  border-box !important;
}*/

.search-bar {
	margin: 20px 0 20px;
}

.search-result-list {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em;   
}


.search-result {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%; 
}