*, *:before, *:after {
	box-sizing:  border-box !important;
}

.search-bar {
	margin: 20px 0 20px;
}

.search-result-list {
	-moz-column-width: 18em;
	-webkit-column-width: 18em;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;   
}


.search-result {
	display: inline-block;
	margin:  0.25rem;
	padding:  1rem;
	width:  100%; 
}

.search-result-label h4 {
    font-weight: 300;
}

.loading-list {
	opacity: 0.4;
	-webkit-filter: blur(4px);
}


.spinner {
  margin: 100px auto;
  width: 100%;
  height: 88px;
  text-align: center;
  font-size: 10px;
  position: absolute;
}

.spinner > div {
  background-color: #000;
  height: 100%;
  width: 3px;
  display: inline-block;
  margin: 0px 2px 0px 2px;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.spinner .rect7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.spinner .rect8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}